.city {
    background-color: rgb(242, 242, 242);
    padding-top: 70px;

    @media (max-width: 1600px) {
        font-size: 58px;
        padding-top: 50px;
    }

    @media (max-width: 1400px) {
        font-size: 50px;
        padding-top: 40px;
    }

    @media (max-width: 1080px) {
        font-size: 42px;
        padding-top: 30px;
    }
    
    &__title {
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 70px;

        @media (max-width: 1600px) {
            font-size: 58px;
            margin-bottom: 50px;
        }

        @media (max-width: 1400px) {
            font-size: 50px;
            margin-bottom: 40px;
        }

        @media (max-width: 1080px) {
            font-size: 42px;
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            font-size: 36px;
        }

        @media (max-width: 480px) {
            font-size: 28px;
        }
    }

    &__img {
        float: left;
        width: 40%;
        border-radius: 30px;
        margin-right: 50px;

        @media (max-width: 1300px) {
            width: 50%;
        }

        @media (max-width: 1080px) {
            margin-right: 20px;
        }

        @media (max-width: 930px) {
            width: 40%;
        }

        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 0;
        }

    }

    &__article {
        text-align: justify;
        font-size: 22px;
        line-height: 2;
        padding: 0 50px;
        margin-bottom: 70px;

        @media (max-width: 1600px) {
            font-size: 20px;
        }

        @media (max-width: 1300px) {
            font-size: 16px;
        }

        @media (max-width: 1080px) {
            padding: 0 20px;
            font-size: 14px;
        }

        @media (max-width: 620px) {
            margin-bottom: 40px;
        }

        @media (max-width: 480px) {
            font-size: 12px;
        }

    }

    &__button {
        width: 800px;
        height: 48px;
        font-size: 18px;
        margin: 0 auto;

        @media (max-width: 1080px) {
            width: 600px;
        }

        @media (max-width: 767px) {
            margin-bottom: 50px;
            width: 500px;
            height: 45px;
            font-size: 16px;
        }

        @media (max-width: 550px) {
            width: 300px;
            height: 35px;
        }
    }
}