.slider {
    width: calc(100% - 60px);
    // height: 100vh;
    position: relative;
    margin: 0 auto;

    &__container {
        width: 100%;
        padding-top: 25px;
        background-color: rgb(0, 0, 0);
    }

    &__item {
        width: 100%;
        height: 100vh;

        @media (max-width: 767px) {
            height: 500px;
        }

        @media (max-width: 560px) {
            height: 400px;
        }

        @media (max-width: 470px) {
            height: 350px;
        }

        @media (max-width: 370px) {
            height: 310px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

}


.slick-dots {
    display: none!important;
}

// .slick-dots li {
//     margin-right: 60px;
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     background-color: black;
// }

// .slick-dots li.slick-active {
//     color: #F8AB11;
// }

// .slick-dots li button:before {
//     color: #F8AB11!important;
//     opacity: 1;
// }

.slides .slick-prev,
.slides .slick-next {
    position: absolute;
    top: 50%;
    width: 0!important;
    height: 0;
    z-index: 99;
}

.slides .slick-prev::before,
.slides .slick-next::before {
    font-size: 0!important;
}

.slides .slick-prev:after {
    font-family: 'slick';
    position: absolute;
    left: 50px;
    z-index: 99;
    content: "←";
    font-size: 80px;
    color: rgba(0, 0, 0, .9);

    @media (max-width: 1366px) {
        font-size: 70px;
    }

    @media (max-width: 1200px) {
        font-size: 60px;
    }

    @media (max-width: 767px) {
        font-size: 35px;
    }

    @media (max-width: 600px) {
        left: 30px;
    }

    @media (max-width: 480px) {
        font-size: 25px;
    }
}

.slides .slick-next:after {
    font-family: 'slick';
    position: absolute;
    z-index: 99;
    content: "→";
    right: 50px;
    font-size: 80px;
    color: rgba(0, 0, 0, .9);

    @media (max-width: 1366px) {
        font-size: 70px;
    }

    @media (max-width: 1200px) {
        font-size: 60px;
    }

    @media (max-width: 767px) {
        font-size: 35px;
    }

    @media (max-width: 600px) {
        right: 30px;
    }

    @media (max-width: 480px) {
        font-size: 25px;
    }
}