.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    background-color: #000;
    position: relative;
    z-index: 11;

    @media (max-width: 1400px) {
        padding: 30px 70px;
    }

    @media (max-width: 767px) {
        padding: 20px 30px;
    }

    &__logo {
        width: 300px;

        @media (max-width: 1080px) {
            width: 200px;
        }

        @media (max-width: 500px) {
            width: 170px;
        }

        @media (max-width: 420px) {
            width: 130px;
        }
    }
}

.socials {
    display: flex;
    justify-content: space-between;

    &__link {
        width: 48px;
        height: 48px;
        margin-left: 10px;

        @media (max-width: 600px) {
            width: 35px;
            height: 35px;
            margin-left: 6px;
        }
    }

    &__img {
        width: 48px;
        height: 48px;
        margin-left: 10px;

        @media (max-width: 600px) {
            width: 35px;
            height: 35px;
            margin-left: 6px;
        }
    }
}